<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../partials/head") %>
  <script src="js/recipegen.js"></script>
  <script src="/public/js/animation.js"></script>
  <title><%= pageTitle %></title>
</head>

<body>
  <%- include ("../partials/header") %>

  <main>
    <h1>Recipe Generator</h1>

    <div class="recipegrid">

    </div>

    <div class="recipe">
    </div>

    <div class="svg-container">
      <div class="svg">
      <%- include ("public/images/plate.svg") %>
      </div>
    </div>
  
  </main>

  <%- include ("../partials/footer") %>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
</body>

</html>