<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/subscribe.css">
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <article class= "subscribed">
        <p>Hi! <%= user.name %> (<%= user.email %>)</p>  
        <h1>Thanks for subscribed!</h1>
          
      </article>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
